form {
    width: 400px;
    background-color: rgb(255, 250, 243);
    margin: 0 auto;
    border: 1px solid rgb(207, 207, 207);
    border-radius: 10px;
    box-shadow: 15px 5px 10px #1d2935; /* Crea efecto de profundidad con sombra */
    padding: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
#tituloFormulario{
    text-align: center;
    font-family: 'Roboto', sans-serif;
}
#subtituloFormulario{
    text-align: center;
    font-family: 'Roboto', sans-serif;
}
.secciones {
    margin-bottom: 12px;
}
.secciones label {
    display: block; /* Convierte el label en bloque para que ocupe toda la línea*/
    margin-bottom: 4px;
    font-weight: bold;
    color: #2c3e50;
    font-size: 15px;
}
.secciones input{
    border-radius: 5px;
    box-shadow: 2px 2px 2px #1d2935; /* Añade sombra a los campos de entrada */
}
.secciones input[type = "submit"],
.secciones input[type = "reset"]{
    border: none;
    cursor: pointer;
    padding: 10px 15px;
    border-radius: 10px;
    background: #31384b; 
    color: white;
}
.secciones input[type = "submit"]:hover,
.secciones input[type = "reset"]:hover{
    background-color: rgb(255, 230, 197);
    color: #2c3e50;
}